.Moviecard-table {
  background-color: #d3e4cd;
  width: 80%;
  margin: 0 4rem 0 4rem;
}

.Moviecard-table th,
.Moviecard-table td {
  padding: 0.8rem;
  color: black;
}

.Moviecard-table thead {
  position: sticky;
  top: 0;
  background-color: #99a799;
  color: white;
}

.Moviecard-table tbody {
  text-align: center;
}

.Moviecard-table tbody tr:nth-of-type(2n + 1) {
  background-color: white;
}
.Moviecard-table tbody tr:nth-of-type(2n) {
  background-color: #dbf1d3;
}

.Moviecard-table tbody tr:hover {
  background-color: lightgray;
}

.Moviecard-table th,
.Moviecard-table td .expanded_row {
  padding: 0;
}
